* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-family: Montserrat;
  line-height: 29px;
}

#header {
  width: 100%;
  height: 100vh;
  display:  flex;
}

#left {
  display: flex;
  padding-top: 20px;
  width: 50%;
  flex-direction: column;

}

/* #tag {
  color: #024EC5;
  font-size: 24px;
  font-style: bold;
}

#nav{
  padding-bottom: 100px;
}
#nav-btn{
 color:  black;
 background-color: #01A8F8;
 width: 70px;
 height: 30px;
 border-radius: 10pc;
}

#nav a{
  padding: 0 20px;
} */

#sec2{
  width: calc(50vw - 30%);
  margin: 0 auto;
}

#sec2 h1{
  font-size: 30px;
  line-height: 40px;
  text-align: justify;
  
}

#sec2 h1 span{
  color:#01A8F8;
}

#sec2 p{
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  
}


#btn1 {
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  background-color: #01A8F8;
  color: white;
  font-weight: 100;
  border-style: 3px solid blue;
  border-width: 1px;
  
}



#right{
  background-image: url(../public/images/bg.png);
  width: 50%;
  top: 0;
  bottom: 0;
  background-size: cover;
}

footer{
  display: flex;
  flex-direction: row;
}

footer div{
  padding-right: 20px;
}

#right{
  display: flex;
  padding-top: 20px;
  width: 50%;
  flex-direction: row;

}

/* #right a{
  padding-right: 40px;
  font-size: 20px;
} */

@media (max-width: 765px){
  #right{
    display: none;
  }

  #header {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }

  #left {
    width: 100vw;
  
  }

  #sec2{
    width: calc(100vw - 30%);
    margin: 0 auto;
  }


}