.forgotpassword {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formhead {
  font-family: "Montserrat";
  font-style: normal;
  color: #000000;
  margin-bottom: 24px;
}

.formhead > h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 16px;
}

.formhead > h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 151.52%;
}

.input_group {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 8px;
  width: 345px;
}

.input_group > label {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

.input_group > input {
  border: 1px solid #868686;
  border-radius: 8px;
  padding: 10px;
  outline: none;
}

.input_otp {
  /* width: 345px; */
  position: relative;
}

.input_otp > input {
  border: 1px solid #868686;
  border-radius: 8px;
  padding: 10px 0;
  padding-left: 8px;
  outline: none;
  width: 97%;
}

.input_otp > button {
  background: #bcbec0;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 10px;
  position: absolute;
  right: 0;
  bottom: 1.5px;
  cursor: pointer;
}

form > .pass_submit {
  background: linear-gradient(101.67deg, #01a8f8 -0.21%, #024ec5 94.49%);
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 10px;
  width: 345px;
  cursor: pointer;
  color: #fff;
}

.minimum_req {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 16px;
}

.minimum_req > p {
  /* margin-bottom: 16px; */
}

.bg_image {
  background-image: url("../../assets/Frame 89.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg_image__text {
  font-family: "Montserrat";
  font-style: normal;
  color: #024ec5;
  text-align: center;
}

.bg_image__text > h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 17px;
}

.bg_image__text > h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 151.52%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 920px) {
  .forgotpassword {
    grid-template-columns: 100%;
    /* width: 100%; */
  }

  .bg_image {
    display: none;
  }

  .form {
    justify-content: flex-start;
    margin-top: 30px;
  }

  .input_group {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .formhead {
    text-align: center;
  }

  .minimum_req,
  .pass_submit {
    max-width: 300px;
  }
}
